*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --cor-principal: hsla(213, 84%, 24%, 1);
    --fundo: hsla(227, 60%, 97%, 1);
    --cor-secundaria: hsla(214, 26%, 88%, 1);
    --cor-terciaria: hsla(0, 0%, 100%, 1);
    --paragrafo: hsla(210, 9%, 31%, 1);
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter", sans-serif;
    background-color: var(--fundo);
}

header img{
    position: relative;
    top: 2rem;
    left: 30px;
}

main{
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    gap: 8rem;
}

.conteudo_criptografar{
    margin: 7rem 0;
}

#texto_criptografar{
    width: 70rem;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: var(--cor-principal);
    background-color: var(--fundo);
    height: 55rem;
    padding: 0.5rem;
    resize: none;
}

textarea::placeholder {
    color: var(--cor-principal);
}

textarea:focus {
    outline: none;
}

aside{
    display: flex;
    align-items: center;
    padding: 1.6rem;
}

span{
    padding: 0.8rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.buttons{
    display: flex;
    gap: 2.4rem;
}

.criptografar, .descriptografar {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2.4rem;
    border-radius: 2.4rem;
    width: 32.8rem;
}

.criptografar {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.descriptografar {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

#conteudo_criptografado{
    width: 100%;
    max-width: 40rem;
    height: auto;
    background-color: var(--cor-terciaria);
    border-radius: 3.2rem;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    word-break: break-word;
    margin-bottom: 4.3rem;
}

h2{
    text-align: center;
    color: var(--cor-principal);
    font-size: 2.4rem;
    line-height: 2.9rem;
}

#texto_criptografado{
    display: flex;
    gap: 1.6rem;
    margin: 3.2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#buttonCopia{
    display: flex;
    gap: 1.6rem;
    margin: 3.2rem;
    text-align: center;
}

p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--paragrafo);
}

.texto_criptografado{
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    color: var(--cor-principal);
    line-height: 3.6rem;
    justify-content: flex-start !important;
    text-align: left !important;
}

.buttonCopiar{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 2.4rem;
    border: none;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    width: 32.8rem;
    border-radius: 2.4rem;
}

footer{
    width: 100%;
    background-color: var(--cor-principal);
    text-align: center;
    font-size: 1.6rem;
    color: var(--cor-terciaria);
    padding: 0.6rem;
}


@media(max-width: 1024px){
    main{
        flex-direction: column;
        gap: 0;
    }

    #texto_criptografar{
        max-height: 40rem;
    }

    #conteudo_criptografado{
        width: 100%;
        max-width: 62rem; 
        height: auto;
    }

    .imagemMenina{
        display: none;
    }

    .buttons{
        gap: 1rem;
        padding-left: 1rem;
    }

    .buttonCopiar{
        width: 100%;
        max-width: 60rem;
    }

    .criptografar, .descriptografar{
        width: 30rem;
    }
}

@media(max-width: 425px){
    main{
        padding-left: 2rem;
    }

    #texto_criptografar{
        width: 100%;
        max-width: 100%;
        max-height: 30rem;
    }

    #conteudo_criptografado{
        width: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .buttons{
        flex-direction: column;
        justify-content: center;
    }

    #conteudo_criptografado{
        width: 90%;
        max-width: 50rem; /* Limite a largura máxima se necessário */
        height: auto;
    }

    .buttonCopiar{
        width: 100%;
        max-width: 100%;
    }
    
    .criptografar, .descriptografar{
        width: 25rem;
    }
}
